.home__articles{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.home__card{
    padding: 10px;
    margin: 20px 0px;
}

.card-body{
    padding:5px;
}

.navbar{
    padding: 5px 20px;
}